<!DOCTYPE html>
<html>

	<!-- HEAD -->
	<%- include('./partials/head.ejs') %>
	
<body>

	<!-- HEADER -->
	<header>
		<h2><%= title %></h2>

		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="../about-us">About Us</a>
			</li>
			<li>
				<a href="../posts">All Posts</a>
			</li>
			<li>
				<a href="../add-post">New Post</a>
			</li>
			<li>
				<a href="../edit-posts">Edit Post</a>
			</li>
			<li>
				<a href="../contacts">Contacts</a>
			</li>
		</ul>
	</header>
	<h2 class="title-page"><%= title %></h2>

	<div class="add-post">
		<form id="post-form" method="post" action="/edit/<%= post.id %>?_method=PUT">
		    <div class="form-info">
		      <label>Post Title:
		        <input type="text" name="title" value="<%= post.title %>">
		      </label>
		      <label>Author:
		        <input type="text" name="author" value="<%= post.author %>">
		      </label>
		    </div>
		    <div class="form-text">
		      <label>Post Text:
		        <textarea name="text"><%= post.text %></textarea>
		      </label>
		    </div>
		    <div class="form-button">
		      <input type="submit" value="Submit">
		    </div>
	 	</form>
	</div>

</body>
</html>